.searchCity{
  background-color: rgb(195, 255, 235);
  float: left;
  height: 100vh;
  width: 25%;
  
}

#currentWeather {
  background-color: rgb(195, 255, 235);
  float: left;
  height: 100vh;
  width: 75%;

}

#forecastDiv {
  /* background-color:rgb(26, 86, 250); */
  display: flex; 
}

.weatherCard {
  width: 20%;
  padding: 10px;
}

#searchForm {
  padding: 20px;
}

#current1 {
  padding: 10px;
}

/* #searchArea {
  padding: 40px;
} */