.searchCity{
    background-color: aquamarine;
    float: left;
    height: 100vh;
    width: 25%;
    
  }
  
  .currentWeather {
    background-color: cornflowerblue;
    float: left;
    height: 100vh;
    width: 75%;
  
  }
  
  #forecastDiv {
    background-color: bisque;
    display: flex; 
  }
  
  .weatherCard {
    width: 20%;
    padding: 10px;
  }
  
  #searchForm {
    padding: 20px;
  }
  
  #current1 {
    padding: 10px;
  }
  
  #buttonTerm {
    padding: 10px;
  }